{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Bienvenidos</a></li>
                <li><a href="#one">¿Qué puedo hacer?</a></li>
                <li><a href="#two">¿Qué hacemos?</a></li>
                <li><a href="#three">Contactenos</a></li>
            </ul>
        </nav>
    </div>
</section>




<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>Libreria Vitual del G10</h1>
                <p>Somos una biblioteca virtual hecha por y para los lectores del INFORMATORIO<br />
                sin animos de lucro.</p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Leer mas</a></li>
                </ul>
                
                <!--Inicio de sesion-->
                <span>
                
                
                <ul class="actions">
                    
                    
                    {% if user.is_authenticated  %}
                        
                    <li><a href="" class="button">{{user.first_name}}</a></li>

                    {% else %}  
                    
                    <li><a href="{% url 'login' %}" class="button">Iniciar Sesion</a></li>
                    

                    {% endif %}
                
                </ul>
                
            
                </span>
                <ul class="actions">
                    <li><a href="{% url 'logout' %}" class="button">Cerrar Sesión</a></li>
                </ul>
                 
                <ul class="actions">
                    <li><a href="{% url 'registrar' %}" class="button">Registrarse</a></li>
                </ul>
            </div>
        </section>

    <!-- One -->
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Leer</h2>
                        <p>Accede a los libros virtuales de diversos géneros publicados por ti o por otros usuarios.</p>
                        <ul class="actions">
                            <li><a href="{% url 'generosLiterarios' %}" class="button">Leer mas</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="{% static 'images/pic02.jpg' %}" alt="" data-position="top center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Publicar</h2>
                        <p>Publica o comparte un libro virtual del género que más te guste para que otros usuarios puedan disfrutarlo.</p>
                        <ul class="actions">
                            <li><a href="{% url 'publicacion' %}" class="button">Publicar</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="{% static 'images/pic03.jpg' %}" alt="" data-position="25% 25%" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Opinar</h2>
                        <p>Deja una reseña acerca de un libro que te haya gustado.</p>
                        <ul class="actions">
                            <li><a href="generic.html" class="button">Reseñar</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Two -->
        <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                <h2>¿Qué hacemos?</h2>
                <p></p>
                <div class="features">
                    <section>
                        <span class="icon solid major fa-code"></span>
                        <h3>Desarrollamos</h3>
                        <p>Utilizamos las tecnologías ofrecidas en la actualidad para crear nuestro contenido.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-lock"></span>
                        <h3>Protegemos tu privacidad</h3>
                        <p>Cuidamos de ti y de los demas usuarios resguardando sus datos de forma segura.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-cog"></span>
                        <h3>Personalizamos</h3>
                        <p>Mantenemos actualizado y editamos a tu gusto las distintas opciones que ofrecemos.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-desktop"></span>
                        <h3>Conversamos</h3>
                        <p>Respondemos a las solicitudes de los usuarios ya que son nuestros lectores más importantes.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-link"></span>
                        <h3>Compartimos</h3>
                        <p>Compartimos como comunidad una variada selección de contenido para leer.</p>
                    </section>
                    <section>
                        <span class="icon major fa-gem"></span>
                        <h3>Valoramos</h3>
                        <p>Valoramos a cada usuario que nos elige para seguir creciendo ofreciendole lo mejor.</p>
                    </section>
                </div>
                <ul class="actions">
                    
                </ul>
            </div>
        </section>

    <!-- Three -->
        <section id="three" class="wrapper style1 fade-up">
            <div class="inner">
                <h2>Contactenos</h2>
                <p></p>
                <div class="split style1">
                    <section>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <label for="name">Nombre</label>
                                    <input type="text" name="name" id="name" />
                                </div>
                                <div class="field half">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" />
                                </div>
                                <div class="field">
                                    <label for="message">Mensaje</label>
                                    <textarea name="message" id="message" rows="5"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><a href="" class="button submit">Enviar mensaje</a></li>
                            </ul>
                        </form>
                    </section>
                    <section>
                        <ul class="contact">
            
                            <li>
                                <h3>Email</h3>
                                <a href="#">fabricardozo271003@gmail.com</a>
                            </li>
                            
                            <li>
                                <h3>Social</h3>
                                <ul class="icons">
                                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                    <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
    
{% endblock contenido %}
    