{% extends 'base.html' %}
{% load  %}

{% block contenido %}
<br>
<a href="{% url 'index' %}" type="button" class="btn btn-primary btn-lg">INICIO</a>
<br>
<br>
    <h1>PUBLICACIONES</h1>
    <h4>Aquí se añanden las publicaciones</h4>    
    <br>
        <a href="{% url 'publicar' %}" type="button" class="btn btn-primary btn-lg">Crear Publicacion</a>
        <br>  
<br>

{% for publicado in publicarlibros %}
<div class="card">
  <div class="card-header">
    <h4>{{publicado.fecha}}</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{publicado.titulo}}, de {{publicado.autor}}, Género: {{publicado.categoria}}</h5>
    <p class="card-text">{{publicado.cuerpo}}</p>
    <a href="#" class="btn btn-primary">LEER</a>
  </div>
</div>

{% endfor %}
  
  



    
{% endblock contenido %}