{% extends 'base.html' %}


{% block contenido %}

<br>
<a href="{% url 'index' %}" type="button" class="btn btn-primary btn-lg">INICIO</a>
<br>
<br>
    <h1>Géneros de libros</h1>
    <h4>Seleccione algun género de su gusto...</h4>
<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TERROR</h5>
          <p class="card-text">Historias de terror y suspenso que te erizaran la piel.</p>
          <a href="#" class="btn btn-primary">Leer ahora</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">FANTASÍA</h5>
          <p class="card-text">Sumérgete en historias fantasticas y vuela tu mente.</p>
          <a href="#" class="btn btn-primary">Leer ahora</a>
        </div>
      </div>
    </div>
  </div><div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CIENCIA FICCIÓN</h5>
          <p class="card-text">La física nunca fue el límite de este tipo de libros.</p>
          <a href="#" class="btn btn-primary">Leer ahora</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ROMANCE</h5>
          <p class="card-text">Historias con desenlaces románticos y dramáticos.</p>
          <a href="#" class="btn btn-primary">Leer ahora</a>
        </div>
      </div>
    </div>
  </div><div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">POLICIAL</h5>
          <p class="card-text">Quédate detrás de una investigación en un crimen y sus respuestas.</p>
          <a href="#" class="btn btn-primary">Leer ahora</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">INFANTILES</h5>
          <p class="card-text">Para que los más chicos puedan leer y aprender.</p>
          <a href="#" class="btn btn-primary">Leer ahora</a>
        </div>
      </div>
    </div>
  </div>



{% endblock contenido %}
    