{% extends 'base.html' %}
{% load  %}
{% load static %}

{% block contenido %}

<br>
    <a href="{% url 'publicacion' %}" type="button" class="btn btn-primary btn-lg">Atrás</a>
<br>
<br><br><br>
<h2>Has click en el enlace debajo para leer.</h2>
<br>
<h1>{{publicarlibros.titulo}}</h1>
<a target="_blank" href="{{publicarlibros.enlace}}">{{publicarlibros.enlace}}</a>
<br>
<br>
      {% if publicarlibros.imagen %}
        <img src="{{publicarlibros.imagen.url}}" class="img-fluid rounded-start" width="400"  alt="...">
      {% else %}
        <img src="{% static 'images/hackerxd.jpg' %}" class="img-fluid rounded-start" width="250"  alt="..."> 
      {% endif %}

<h3>¿Qué te pareció el libro? Dejanos tu comentario.</h3>

<!--Form-->
<form method="post" style="background-color: rgb(143, 143, 143);"> {% csrf_token %}

    {{form}}
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Comentar</button>

</form>

<div class="card" style="width: 50rem;">
    
    <div class="card-body">
      <h5 class="card-title">Comentarios:</h5>
      <hr>
      {% for comentario in publicarlibros.comentario.all  %}
      
      <h5 class="card-title">{{comentario.autor}}</h5>
      <h6 class="card-title">{{comentario.fecha}}</h6>    
      <p class="card-text">{{comentario.cuerpo}}</p>
      <a href="{% url 'eliminar-comentario' comentario.id %}"><i class="fa-solid fa-xmark"></i></a>
      <a href="{% url 'modificar-comentario' comentario.id %}"><i class="fa-solid fa-file-pen"></i></a>
      <hr>

      {% endfor %}
        
      
    </div>
  </div>


{% endblock contenido %}
    